In [1]:
import pandas as pd

### 2 main data types in pandas

In [2]:
series = pd.Series(["BMW","Toyota","Honda"])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

**series is 1D**

In [4]:
colors = pd.Series(["Red","Yellow","Green"])

In [5]:
colors

0       Red
1    Yellow
2     Green
dtype: object

* Data frames most common data types than series
* Data frames is **2D**

In [6]:
car_data = pd.DataFrame({"Car Makers": series, "Color": colors})
car_data

  Car Makers   Color
0        BMW     Red
1     Toyota  Yellow
2      Honda   Green